doctype html
html
  head
    title #{title} - Paul'sYoung
  body
    header
      h1 Paul'sYoung
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus